.flex {
    display: flex;
    background-color: #ccc;
}

.flex-colum{
    display: flex;
    flex-direction: column;
}

.wrap {
    display: flex;
    margin-bottom: 20px;
}

.box{
    height: 40px;
    width: 33%;
}