body {
    background: orange;
    text-align: center;
    
}
.tittle {
    text-decoration:underline;
}

input {
    font-size: 20px;
    margin-bottom: 15px;
}


button{
    background-color: black;
    color: orange;
    width: 290px;
    border-radius: 5px;
    cursor: pointer;
    outline:none ;
}

.result {
    display: flex;
    background-color: black;
    color: orange;
    height:150px ;
    width: 300px;
    border-radius: 20px;
    align-items: center;
    box-shadow: 0px 0px 10px black;
    box-sizing: border-box;
    padding: 20px;
    
    
}