
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Workbench", sans-serif;;
}


 body{
    background-image: url("/to_do_list/img/background.png");
}

.container {
    background-color: #d1d1d1;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

img {
    height: 25px;
}

.input-task {
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 40px;
  padding-left: 10px;
}

.button-add-task{
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color:#003329 ;
    color: #fff;
    font-size: 17px;
    padding: 0 15px;
    float: right;
    cursor: pointer;
    font-weight: 700px;
}

.button-add-task:hover {
    opacity: 0.7;
}

.list-tasks {
    width: 100%;

}
ul {
    list-style-type: none;
    margin-top: 30px;
}

.task{
    background-color: #f2f2f2;
    box-shadow: 1px 4px 10px rgba(0,0,0,.2);
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}